.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
    flex-wrap: nowrap;
}

.saving-conf-modal-logo img {
    width: 7rem;
}

.conf-msg {
    font-weight: 700;
    color: #373737;
    vertical-align: middle;
    text-align: center !important;
}
